{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
$(function () {
    var submit_form = function(e) {
            $.getJSON($SCRIPT_ROOT + '/calculate_current', {}, function (data) {
                $.ajax({
                    url: '/mark_online',
                    type: 'POST',
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                $('#result').text(data.hash);
                if (data.hash != '') {
                    var worker = new Worker('worker.js');
                    worker.postMessage([data.hash]);
                    worker.onmessage = function (event) {
                        $('#result_worker').text(event.data);
                        $.ajax({
                            url: '/watch_worker',
                            data: JSON.stringify(event.data),
                            contentType: 'application/json;charset=UTF-8',
                            type: 'POST',
                            success: function (response) {
                                if(response.hash != '') {
                                    worker.postMessage([response.hash]);
                                }
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    };
                }
            });
        return false;
    };
    $('a#calculate').bind('click', submit_form);
});
</script>

<script>
    window.onbeforeunload = function() {
        $.ajax({
            url: '/mark_offline',
            type: 'POST',
            success: function (response) {
                console.log(response);
            },
            error: function (error) {
                console.log(error);
            }
        });
    return "Close worker?";
};
</script>

<h1><a href=# id="calculate">Get random hash to find password</a></h1>
<h2>Result: <output id="result_worker"></output></h2>
<h2><a href="/users_online">View online clients number</a></h2>
{% endblock %}